<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for subscribing, <%= @user.contact_name %></h1>
    <p>
      You have successfully signed up for the following plan:</br> <%= @user.plan.name %> subscription plan.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>