<div class="container">
	<header class="clearfix">
		<span class="name">Project Beer</span>
		<h1 class="name">Beauty Is In The Mouth Of The Beholder</h1>
		<nav>
			<button class="button"><%= link_to "Sign Up", new_user_path %></button>
		</nav>
	</header>
	<div id="cbp-fbscroller" class="cbp-fbscroller">
		<nav>
			<a href="#fbsection1" class="cbp-fbcurrent">Section 1</a>
			<a href="#fbsection2">Section 2</a>
			<a href="#fbsection3">Section 3</a>
			<a href="#fbsection4">Section 4</a>
			<a href="#fbsection5">Section 5</a>
		</nav>
		<section id="fbsection1">
			<p class="intro">Curated craft beer delivery subscription service</p>
		</section>
		<section id="fbsection2">
			<div class="centeralign">
					<p>
						We are a small, Toronto based company, that are passionate about beer and software development so why not marry the two?</br>
						We deliver beer (and a few other amazing small batch surprises) in hand picked packages for your convenience and enjoyment on Fridays.</br>
					</p>
			</div>
		</section>
		<section id="fbsection3">
			<dl class="plans">
				<dt>We currently deliver six 750ml bottles at:</dt>
					<dd>Weekly[$240/month]</dd>
					<dd>Bi-weekly[$120/month]</dd>
					<dd>Monthly[$60/month]</dd>
				</dl>
		</section>
		<section id="fbsection4">
			<p class="delivery">Currently, we deliver between the boundaries of Bloor, Bayview, The Lakeshore and Dufferin. Over the coming months we will be expanding our delivery area to include locations in both the East and West end.</p>
			<div id="map-canvas"></div>
		</section>
		<section id="fbsection5">
			<div class="wrap">
				<div class="col3">
					<dl>
						<dt class = "brewers">Bellwoods Brewery </dt>
							<dd>Witch Shark</dd>
							<dd>Grizzly Bear</dd>
							<dd>Mash Pipe</dd>
					</dl>
				</div>
				<div class="col3">
					<dl>
						<dt class = "brewers">Bellwoods Brewery </dt>
							<dd>Witch Shark</dd>
							<dd>Grizzly Bear</dd>
							<dd>Mash Pipe</dd>
					</dl>
				</div>
				<div class="col3">
					<dl>
						<dt class = "brewers">Bellwoods Brewery </dt>
							<dd>Witch Shark</dd>
							<dd>Grizzly Bear</dd>
							<dd>Mash Pipe</dd>
					</dl>
				</div>
			</div>
		</section>
	</div>
</div>
