<div class="container">
	<header class="clearfix">
		<span class="name">Project Beer</span>
		<h1 class="name">Because No Beers Are Equal</h1>
		<nav>
			<a href="#" class="button">Signup</a>
		</nav>
	</header>
	<div id="cbp-fbscroller" class="cbp-fbscroller">
		<nav>
			<a href="#fbsection1" class="cbp-fbcurrent">Section 1</a>
			<a href="#fbsection2">Section 2</a>
			<a href="#fbsection3">Section 3</a>
			<a href="#fbsection4">Section 4</a>
			<a href="#fbsection5">Section 5</a>
		</nav>
		<section id="fbsection1">
			<p class="intro">Curated craft beer delivery subscription service</p>
		</section>
		<section id="fbsection2">
			<div id="map-canvas"></div>
		</section>
		<section id="fbsection3"></section>
		<section id="fbsection4"></section>
		<section id="fbsection5"></section>
	</div>
</div>