.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc163), color-stop(1, #ff9900) );
	background:-moz-linear-gradient( center top, #ffc163 5%, #ff9900 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc163', endColorstr='#ff9900');
	background-color:#ffc163;
	-webkit-border-top-left-radius:12px;
	-moz-border-radius-topleft:12px;
	border-top-left-radius:12px;
	-webkit-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	border-top-right-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	border-bottom-right-radius:12px;
	-webkit-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	border-bottom-left-radius:12px;
	text-indent:2px;
	padding: 15px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	// font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:auto;
	width:auto;
	min-width: 150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}

.button a {
	text-decoration:none;
	color: $white;
	&:visited {
    color: $white;
  }
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff9900), color-stop(1, #ffc163) );
	background:-moz-linear-gradient( center top, #ff9900 5%, #ffc163 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9900', endColorstr='#ffc163');
	background-color:#ff9900;
	color: $white;
}

.button:active {
	position:relative;
	top:1px;
}



.small-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc163), color-stop(1, #ff9900) );
	background:-moz-linear-gradient( center top, #ffc163 5%, #ff9900 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc163', endColorstr='#ff9900');
	background-color:#ffc163;
	-webkit-border-top-left-radius:12px;
	-moz-border-radius-topleft:12px;
	border-top-left-radius:12px;
	-webkit-border-top-right-radius:12px;
	-moz-border-radius-topright:12px;
	border-top-right-radius:12px;
	-webkit-border-bottom-right-radius:12px;
	-moz-border-radius-bottomright:12px;
	border-bottom-right-radius:12px;
	-webkit-border-bottom-left-radius:12px;
	-moz-border-radius-bottomleft:12px;
	border-bottom-left-radius:12px;
	text-indent:2px;
	padding: 3px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	// font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:auto;
	width:auto;
	min-width: 50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}

.small-button a {
	text-decoration:none;
	color: $white;
	&:visited {
    color: $white;
  }
}

.small-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff9900), color-stop(1, #ffc163) );
	background:-moz-linear-gradient( center top, #ff9900 5%, #ffc163 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9900', endColorstr='#ffc163');
	background-color:#ff9900;
	color: $white;
}

.small-button:active {
	position:relative;
	top:1px;
}