/*GRID SYSTEM*/
* {
	margin: 0;
	padding: 0;
	/*Content box: padding, border & margin add to the size of the box
	Border box: the size of the border is the outer limit*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*to set relative sizes, it must be wrapped in a fixed-width parent*/
.frame {
	width: 100%;
}

.col1 { width: 100%;}
.col2 { width: 50%;}
.col3 { width: 33.3333%;}
.col4 { width: 25%;}
.col66 { width: 66.666%;}

/*advanced selector pattern-matches all classes with 'col' in name*/
[class*='col'] {
	float: left;
	padding: 0.3em;
}

/*advanced selector :after clears the floating blocks, instead of adding empty content in html*/
.frame:after {
	content: "";
	display: block;
	clear: both;
}

/*********************************************************************************************/
/* CUSTOM STYLES */

body {
	background-color: $orange;
}

.wrapper {
    height:     auto;       /* These two lines were the key. */
    min-height: 100%;
    margin:     0px auto;
    padding:    0px auto;
    background-color: $white;
    width: 1100px;
 }

.frame {
	width: 1100px;
	margin: 0 auto; /*this will center*/
}

.main-content {
	text-align: left;
	margin-top: 20px;
	padding: 20px 0;
	background-color: $white;
	@include orange-headers;
}

.tc {
	text-align: center;
	margin: auto;
}

.form-label {
	padding: 10px 0 0 0 ;
}

select {
	@extend body;
	background-color: $light-gray;
	font-style: italic;
	border: solid 1px $orange;
	margin: 10px 0 20px 0;
	min-width: 225px;
}

.padded-div {
	padding: 20px;
}

.upborder-div {
	padding-top: 5px;
	border-top: solid 1px;
	border-color: $light-gray;
	width: 80%;
}

.table-headers {
	color: $orange;
	padding: 2px 10px 1px 0;
	text-align: left;
	min-width: 200px;
}

.table-headers-sm {
	color: $orange;
	padding: 2px 10px 1px 0;
	text-align: left;
	min-width: 120px;
}

.table-headers-color {
	color: $orange;
	padding: 2px 10px 1px 0;
	text-align: left;
}

.main-nav {
	background-color: $orange;
	float: right;
	a, a:visited {
		text-decoration: none;
		color: $white;
		}
	a:hover {
		text-decoration: underline;
	}
	#notice {
		text-align: right;
	}
}

.site-title {
	a, a:visited {
		text-decoration: none;
		color: $white;
		}
	a:hover {
		text-decoration: none;
}
}

.light-heading {
	color: $med-gray;
}

.navigation-links {
	// float: right;
	margin: auto;
	padding: 0 5px;
	a, a:visited {
		text-decoration: none;
		color: $orange;
		}
	a:hover {
	text-decoration: underline;
	}
}

#alert {
	color: $orange;
}

.small-text {
	font-family: Courier, Arial, sans-serif;
	font-size: 80%;
}