.name {
  color: #fff;
}

.intro {
  color: #ff9900;
  font-size: 72px;
  font-weight: 900;
  left: 0;
  line-height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 60%;
  max-width: 80%;
  margin-left: 10%;
}

#map-canvas {
  width: 100%;
  height: 380px;
  bottom: 0%;
  position: absolute;
}

.delivery {
  @extend .intro;
  color: #fff;
  font-size: em(72px);
  line-height: 70px;
  top: 25%;
  font-weight: 400;
  /* Desktops and laptops */
  @media only screen
  and (min-width : 1224px) {
  font-size: 2em;
  }
  @media only screen
  and (min-width : 1600px) {
  font-size: 72px;
  }

  /* iPads (portrait and landscape) ----------- */

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
  font-size: 16px;
  }


}

.plans {
@extend .intro;
top: 40%;
}

.centeralign {
  @extend .intro;
  color: $white;
  top: 40%;
  font-size: 3em;
  /* Desktops and laptops */
  @media only screen
  and (min-width : 1224px) {
  font-size: 2em;
  }
  @media only screen
  and (min-width : 1600px) {
  font-size: 72px;
  }
}

.wrap {
  width: 1100px;
  margin: 0 auto; /*this will center*/
  top: 50%;
  position: absolute;
  color: $white;
}