<table>
  <thead>
    <tr>
      <th class="table-headers-sm">Company</th>
      <th class="table-headers-sm">Frequency</th>
      <th class="table-headers-sm"># packs</th>
      <th class="table-headers-sm">First delivery</th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |sub| %>
      <tr>
        <td><%= sub.user.company_name %></td>
        <td><%= sub.plan.name %></td>
        <td><%= sub.n_packs %></td>
        <td><%= sub.first_delivery_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>