<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Frequency</th>
      <th># packs</th>
      <th>First delivery</th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |sub| %>
      <tr>
        <td><%= sub.user.company_name %></td>
        <td><%= sub.plan.name %></td>
        <td><%= sub.n_packs %></td>
        <td><%= sub.first_delivery_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>